{% block body %}
    <h1>User List</h1>
    <ul>

    {% for Task in allTodo %}

        {{ Task['Task'] }}
    {% endfor %}
    {% for ID in allTodo %}
        {{ ID['ID'] }}
    {% endfor %}

{% endblock %}